h2 {
    color: rgba(0,0,0,0.5);
    margin-bottom: 16px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
}

.form-container > * {
    width: 80%;
}

.form-container form {
    margin-bottom: 20px;
}

.form-container form > * {
    margin: 5px 0;
}

.form-container .mat-radio-button {
    margin: 0 5px;
}

button {
    margin-top: 16px;
}

.start {
    * {
        width: calc(50% - 8px);
    }
    .date {
        padding-right: 4px;
    }

    .time {
        padding-left: 4px;
        line-height: 18px;
        mat-select {
            width: 100%; 
        }
    }
}

div.row.images {
    margin-top: 16px;

    input {
        display: none;
    }
    .image-col {
        text-align: center;
        margin-bottom: 16px;
        button {
            margin-top: 4px;
        }
    }
    div.img-wrapper {
        height: 140px;
        width: 140px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        outline: 1px solid rgba(0,0,0,0.1);
        overflow: hidden;

        img {
            max-width: 140px;
            max-height: 150%;
        }
    }
}

#save {
    margin-bottom: 32px;
}