<!-- views/pages/events.ejs -->
<!DOCTYPE html>
<html lang="pt">
    <head>
        <% include ../../partials/head %>
        <link rel="stylesheet" href="/css/pg-event.css">
    </head>
    <body>
        <header id="header"><% include ../../partials/header %></header>

        <!-- SECTION - MAIN CONTAINER -->
        <div class="main-container">
            <div class="row">
                <!-- EVENTS -->
                <div class="col-md-12">
                    <!-- PARTIAL_EVENTS -->
                </div>

                <!-- ASIDE -->
                <!-- <div class="col-md-4"> -->
                    <!-- PARTIAL_SIDE -->
                <!-- </div> -->
            </div>
        </div>
        <!-- /SECTION -->
 
        <!-- <main>
        <div class="row">
            <div class="col-sm-8">    
                <div class="jumbotron">
                    <h1>This is great</h1>
                    <p>Welcome to templating using EJS</p>
                </div>
            </div>

            <div class="col-sm-4">        
                <div class="well">
                    <h3>Look I'm A Sidebar!</h3>
                </div>
            </div>

        </div>
        </main> -->

        <footer id="footer"><% include ../../partials/footer %></footer>
    </body>
</html>