<form class="form-container" [formGroup]="fg"> 
  <!-- CODE -->
  <mat-form-field>
    <input matInput formControlName="code" placeholder="Código" required>
  </mat-form-field>

  <!-- NAME -->
  <mat-form-field>
    <input matInput formControlName="name" placeholder="Nome" required>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="cancel()">Cancelar</button>
  <button mat-raised-button color="accent" [disabled]="!fg.valid" (click)="update()">Atualizar</button>
</form>
  