/*===================================================================================

><<<<<<<<><<         ><<><<<<<<<<><<<     ><< ><<<><<<<<<     ><<<<<<<     ><<<<   
><<       ><<       ><< ><<      >< ><<   ><<     ><<         ><<    ><< ><    ><< 
><<        ><<     ><<  ><<      ><< ><<  ><<     ><<         ><<    ><<><<        
><<<<<<     ><<   ><<   ><<<<<<  ><<  ><< ><<     ><<         ><<<<<<<  ><<        
><<          ><< ><<    ><<      ><<   >< ><<     ><<         ><<       ><<   ><<<<
><<           ><<<<     ><<      ><<    >< <<     ><<         ><<        ><<    >< 
><<<<<<<<      ><<      ><<<<<<<<><<      ><<     ><<         ><<         ><<<<<   
                                                                               
=====================================================================================*/

.main-container {
  margin-top: 80px;
}


.section-title {
  position: relative;
  margin-bottom: 20px;
}
.section-title:after {
  content: "";
  display: inline-block;
  height: 2px;
  background-color: #e8eaed;
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  z-index: 10;
}
.section-title .title {
  position: relative;
  display: inline-block;
  background-color: #fafafa;
  color: rgba(0,0,0,0.7);
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 10px;
  z-index: 20;
}

.slider-container {
    text-align: center;
    width: 80%;
    margin-left: 10%;
}

.slider-container img {
  height: 250px;
  padding: 0 160px;
  outline: none;
}

.slick-prev:before,
.slick-next:before {
  color: darkgreen;
  opacity: 0.3;
}

.section-row .date-place {
  padding: 8px 16px 0;
  margin: 0px 0px 12px;
  border: 2px solid #e8eaed; 
}

.section-row .date-place .date, 
.section-row .date-place .place, 
.section-row .date-place .site {
  line-height: 36px;
}

.section-row .date-place .date:before, 
.section-row .date-place .place:before,
.section-row .date-place .site:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f073";
  width: 24px;
  height: 24px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #ee4266;
  font-size: 14px;
  background: #fff;
  border: 2px solid #e8eaed;
  float: left;
  margin-top: 4px;
  margin-right: 10px;
}

.section-row .date-place .place:before {
  content: "\f124";
}

.section-row .date-place .site:before {
  content: "\f0ac";
}

/*
  ###########################################################
  ########################################################### MAP
  ###########################################################
*/
#map {
  height: 240px;
}


/*
  Bootrstap 4 Grid responsive widths
  Extra small <576px   auto
  Small ≥576px   sm
  Medium ≥768px   md
  Large ≥992px  lg
  Extra large ≥1200px  xl
*/

@media only screen and (max-width: 1199px) {

}

@media only screen and (max-width: 991px) {

}

@media only screen and (max-width: 767px) {
  .main-container {
    margin-top: 80px;
  }
}

@media only screen and (max-width: 575px) {

}


