html {
  width: 100vw !important;
  background-color: #fafafa;
}

@media only screen and (max-width: 719px) {
  html {
    overflow-y: overlay !important;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #505050;
  font-weight: 400;
  overflow-x: hidden;
  max-width: 100%;
  background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #11151c;
  font-weight: 700;
  margin: 0px 0px 15px;
}
h1 { font-size: 32.437px; }
h2 { font-size: 25.629px; }
h3 { font-size: 20.25px; }
h4 { font-size: 16px; }

p { margin: 0px 0px 20px; }

a {
  color: #11151c;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}
a:hover, a:focus {
  color: #6c9d61;
  text-decoration: none;
  outline: none;
}
::-moz-selection {
  background-color: #6c9d61;
  color: #FFF;
}
::selection {
  background-color: #6c9d61;
  color: #FFF;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none
}
ul.list-style, ol.list-style {
  padding-left: 15px;
  margin-bottom: 10px;
}
ul.list-style {
  list-style-type: disc;
}
ol.list-style {
  list-style-type: decimal;
}

blockquote.blockquote {
  padding: 30px;
  margin: 0px 0px 20px;
  border: 2px solid #e8eaed;
}
blockquote.blockquote:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10d";
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 50%;
  color: #ee4266;
  font-size: 30px;
  background: #fff;
  border: 2px solid #e8eaed;
  float: left;
  margin-right: 10px;
}
blockquote.blockquote .blockquote-footer {
  color: #97989b;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*----------------------------*\
	main-container
\*----------------------------*/
.main-container {
  margin: 20px 80px 40px;
}

@media only screen and (max-width: 719px) {
  .main-container {
    margin: 20px 12px 12px;
  }
}

@media only screen and (min-width: 1200px) {
  .main-container {
    margin: 20px 120px 20px;
  }
}


/*----------------------------*\
	input
\*----------------------------*/
.input {
  width: 100%;
  height: 40px;
  padding: 0px 15px;
  background-color: #fff;
  border-radius: 2px;
  border: 2px solid #e8eaed;
}

textarea.input {
  padding: 15px;
  height: 90px;
}

/*----------------------------*\
	button
\*----------------------------*/

.primary-button, .secondary-button {
  display: inline-block;
  padding: 10px 40px;
  border-radius: 2px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.primary-button {
  background-color: #6c9d61;
  color: #fff;
  -webkit-box-shadow: 0px 0px 0px 2px #6c9d61 inset;
  box-shadow: 0px 0px 0px 2px #6c9d61 inset;
}

.secondary-button {
  background-color: #353535;
  color: #fff;
  -webkit-box-shadow: 0px 0px 0px 2px #353535 inset;
  box-shadow: 0px 0px 0px 2px #353535 inset;
}

.primary-button:hover, .primary-button:focus {
  background-color: transparent;
  color: #6c9d61;
}

.secondary-button:hover, .secondary-button:focus {
  background-color: transparent;
  color: #353535;
}








/*=========================================================

><<<     ><<      ><       ><<         ><<
>< ><<   ><<     >< <<      ><<       ><< 
><< ><<  ><<    ><  ><<      ><<     ><<  
><<  ><< ><<   ><<   ><<      ><<   ><<   
><<   >< ><<  ><<<<<< ><<      ><< ><<    
><<    >< << ><<       ><<      ><<<<     
><<      ><<><<         ><<      ><<      
                                          
===========================================================*/
#nav-top {
  height: 64px;
  background-color: #Fafafa;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
}
nav {
  height: 64px;
}

.navbar.fixed-top {
  box-shadow: 0 1px 1px 1px lightgrey;
  background-color: #Fafafa !important;
  background-image: url('/img/bg-brilliant.png');  
  padding: 4px 8px 4px 16px;
}

#nav:after {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

#nav.shadow-active:after {
  opacity: 1;
  visibility: visible;
}

#nav-top.shrink {
  height: 42px;
}

#nav-top.shrink .navbar{
  height: 44px;
}

#nav-top.shrink .nav-logo {
  height: 40px;
  text-align: left;
  padding-left: 12px;
  margin-top: 4px;
}

#nav-top.shrink .nav-logo img {
  height: 28px;
}

#nav-top.shrink .nav-logo span {
  font-size: 28px;
}

#nav-bottom {
  border-top: 1px solid #e8eaed;
  background-color: rgba(144,202,131,0.1);
}


/*----------------------------*\
	logo
\*----------------------------*/
.nav-logo {
  display: inline;
}

.nav-logo .logo {
  display: inline-block;
  height: 48px;
}

.nav-logo .logo>img {
  height: 48px;
}

.nav-logo .logo > span {
  font-size: 32px;
  font-weight: bold;
}



/*----------------------------*\
	social
\*----------------------------*/
div.nav-container {
  width: 100%;
}

ul.nav-social {
  position: absolute;
  float: right;
  right: 80px;
  top: 6px;
  font-size: 24px;
}

ul.nav-social li {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
}

ul.nav-social li a {
  display: block;
  opacity: 0.7;
  color: rgba(0,0,0,0.5);
}

ul.nav-social li a:hover {
  opacity: 1;
}


#nav-top.shrink ul.nav-social {
  right: 72px;
  top: 2px;
  font-size: 18px;
}



/*----------------------------*\
	language selector
\*----------------------------*/
div.language-selector {
  display: block;
  float: right;
  margin-top: 8px;
}
div.language-selector .dropdown-menu.show {
  margin-left: -110px;
  top: calc(100% + 16px);
  padding: .5rem 1px;
}



div.language-selector > .btn-group > button:nth-child(1) {
  padding-right: 0;
}

div.language-selector .btn {
  box-shadow: none !important;
  font-weight: bolder;
  color: rgba(0,0,0,0.5);
}
div.language-selector .btn:hover {
  color: rgba(0,0,0,0.7);
}

#nav-top.shrink div.language-selector {
  margin-top: 2px;
}

/*----------------------------*\
	menu
\*----------------------------*/
.nav-menu {
  position: relative;
  text-align: center;
  float: none;
}

.nav-menu>li {
  float: none;
  display: inline-block;
}

.nav-menu>li>a {
  display: block;
  padding: 25px 15px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

/*----------------------------*\
	dropdown
\*----------------------------*/
.nav-menu li.has-dropdown {
  position: relative;
}

.nav-menu li.has-dropdown>a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d7";
  margin-left: 5px;
}

.nav-menu li.has-dropdown>.dropdown {
  position: absolute;
  left: 0;
  width: 200px;
  text-align: left;
  z-index: 60;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.nav-menu li.has-dropdown:hover>.dropdown {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

.nav-menu li.has-dropdown>.dropdown .dropdown-body {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-top: 2px solid #6c9d61;
}

.dropdown .dropdown-list li {
  border-bottom: 1px solid #e8eaed;
}

.dropdown .dropdown-list li a {
  display: block;
  padding: 10px;
  line-height: 20px;
}

.dropdown .dropdown-heading {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 10px;
  line-height: 30px;
}

/*----------------------------*\
	mega dropdown
\*----------------------------*/
.nav-menu li.has-dropdown.megamenu {
  position: static;
}

.nav-menu li.has-dropdown.megamenu>.dropdown {
  width: 100%;
}

.nav-menu li.has-dropdown.megamenu>.dropdown .dropdown-body {
  padding: 30px;
}

.nav-menu li.has-dropdown.megamenu>.dropdown .dropdown-list {
  margin-bottom: 30px;
}

.nav-menu li.has-dropdown.megamenu>.dropdown .dropdown-list li a {
  padding-left: 0px;
  padding-right: 0px;
}

/*----------------------------*\
	tab dropdown
\*----------------------------*/
.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-content {
  z-index: 70;
  position: relative;
  margin-left: -30px;
}

.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-nav {
  background-color: #1b1c1e;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 60;
}

.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-nav li {
  border-bottom: 1px solid #323335;
}

.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-nav li a {
  display: block;
  padding: 15px;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-nav li.active {
  background: #6c9d61
}

.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-nav li.active a {
  color: #fff;
}

/*----------------------------*\
	nav aside
\*----------------------------*/
#nav-aside {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #1b1c1e;
  max-width: 360px;
  width: 100%;
  padding: 80px 20px;
  overflow-y: scroll;
  z-index: 99;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 0.4s all cubic-bezier(.77, 0, .18, 1);
  transition: 0.4s all cubic-bezier(.77, 0, .18, 1);
  overflow: auto;
}

#nav-aside.active {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.nav-aside-menu li a {
  display: block;
  padding: 15px 0px;
  color: #fff !important;
  border-bottom: 1px solid #323335;
}

.nav-aside-menu li a:hover, .nav-aside-menu li a:focus {
  color: #6c9d61;
}

.nav-aside-menu li.has-dropdown>a {
  cursor: pointer;
}

.nav-aside-menu li.has-dropdown>a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d7";
  float: right;
}

.nav-aside-menu li.has-dropdown>.dropdown {
  display: none;
  margin-left: 30px;
  border-left: 1px solid #323335;
}

.nav-aside-menu li.has-dropdown.active>.dropdown {
  display: block;
}

.nav-aside-menu li.has-dropdown>.dropdown a {
  padding: 15px;
}

.nav-close {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
}

.nav-close span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.nav-close span:before, .nav-close span:after {
  content: "";
  display: block;
  width: 30px;
  background-color: #fff;
  height: 2px;
}

.nav-close span:before {
  -webkit-transform: translateY(0px) rotate(-135deg);
  -ms-transform: translateY(0px) rotate(-135deg);
  transform: translateY(0px) rotate(-135deg);
}

.nav-close span:after {
  -webkit-transform: translateY(-2px) rotate(135deg);
  -ms-transform: translateY(-2px) rotate(135deg);
  transform: translateY(-2px) rotate(135deg);
}


/*----------------------------*\
	bottom nav
\*----------------------------*/
#nav-bottom {
  position: fixed;
  z-index: 999;
  background-color: #FFF;
  bottom: 0;
  height: 46px;
  width: 100vw;
}

.navbar.fixed-bottom {
  box-shadow: 0px -2px 2px 0px lightgrey;
  background-color: #FFF;
  padding: 4px;
  height: 52px;
}


.nav-bottom-menu {
  display: flex;
  justify-content: space-evenly;
}

.nav-bottom-menu i {
  font-size: 16px;
  color: rgba(0,0,0,0.3);
}
/* 
.nav-bottom-menu > div:not(.divider) {
  padding: 12px 32px;
} */

.divider {
  width: 1px;
  height: 36px;
  background-color: rgba(0,0,0,0.3);
}


/* selected filter colors */
.btn-filter.active, .btn-filter.active i { color: darkcyan; }
.btn-menu.active, .btn-menu.active i { color: midnightblue; }

.bottom-menu-container {
  visibility: hidden;
  position: fixed;
  max-height: 0;
  width: 100vw;
  padding: 0;
  bottom:52px;
  background-color: #FFF;
  box-shadow: 0px -2px 2px 0px lightgrey;

  -webkit-transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);  
  -moz-transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.bottom-menu-container.show-with-transition {
  max-height: calc(70vh);
  visibility: inherit;

  /* background-color: #45CEE0;
  height: 200px;
  width: 200px; */
}

.bottom-menu-container .filters-widget {
  padding: 16px 12px;
  max-height: 100%;
  overflow: scroll;
}

.bottom-menu-container .filters-widget > div {
  padding: 0 12px;
}

.bottom-menu-container .filters-widget > div:nth-child(1) {
  padding-right: 2px;
}

.bottom-menu-container .filters-widget > div:nth-child(2) {
  padding-left: 2px;
}
.bottom-menu-container .filters-widget h2 {
  font-size: 16px;
  margin-left: 4px;
  margin-bottom: 4px;
}

.bottom-menu-container .filters-widget ul {
  margin-left: 0;
}

.bottom-menu-container .filters-widget ul input {
  margin-left: -12px;
}

.bottom-menu-container .filters-widget ul label {
  margin-left: 4px;
}

.bottom-menu-container .filters-widget button {
  margin-bottom: 8px;
}


/* ################ MENU ############# */
.bottom-menu-logo-container {
  height: 44px;
  padding: 4px 8px;
}

.bottom-menu-logo {
  height: 100%;
  background-image: url(/img/sulbaguia-logo-h-t.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}

.bottom-menu-container .list-group-item {
  padding: 8px 20px;
}


@media only screen and (max-width: 719px) {
  .nav-logo {
    width: 100vw;
    position: absolute !important;
    left: 12px;
    top: 8px;
  }
  #nav-top.shrink .nav-logo {
    top: 0;
  }

  .nav-social {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .nav-logo {
    position: static;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    left: 12px;
    display: inline-block;
  }

  #nav-top.shrink .nav-logo {
    top: 4px;
  }

  .footer-nav {
    text-align: left;
    margin-bottom: 30px;
  }

  .nav-social {
    display: inline-block;
  }
}



/* Mobile only */
@media only screen and (max-width: 575px) {
  .nav-logo {
    text-align: center;
  }

  #nav-top.shrink .nav-logo {
    top: 4px;
    text-align: left;
  }  

  .nav-social, .language-selector {
    display: none !important;
  }
  #nav-top.shrink .nav-social {
    display: inline-block !important;
    top: 8px !important;
    right: 64px !important;
    font-size: 14px !important;
  }
  #nav-top.shrink .nav-social li {
    padding: 4px 4px;
  }

  #nav-top.shrink .language-selector {
    display: inline-block !important;
    margin-top: -2px !important;
  }

  #nav-top.shrink .language-selector img {
    width: 18px;
  }

}




/*==========================================================================================

><<<<<<<<      ><<<<           ><<<<       ><<<<<<<<<<  ><<<<<<<<  ><<<<<<<<
><<          ><<    ><<      ><<    ><<        ><<      ><<        ><<    ><<  
><<        ><<        ><<  ><<        ><<      ><<      ><<        ><<    ><<
><<<<<<    ><<        ><<  ><<        ><<      ><<      ><<<<<<    ><<<<<<<      
><<        ><<        ><<  ><<        ><<      ><<      ><<        ><<  ><<    
><<          ><<     ><<     ><<     ><<       ><<      ><<        ><<    ><<  
><<            ><<<<<          ><<<<<          ><<      ><<<<<<<<  ><<      ><<
                                                
============================================================================================*/

#footer {
  padding-top: 40px;
  padding-bottom: 24px;
  background-color: #111 !important;
  background-image: url(/img/bg-brilliant.png);
}

#footer {
  color: #97989b;
}

#footer a {
  color: #97989b;
}

#footer a:hover, #footer a:focus {
  color: #6c9d61;
}


.footer-widget p {
  margin-bottom: 12px;
}

.footer-widget .footer-title {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.footer-logo {
  margin-bottom: 12px;
}

.footer-logo .logo {
  display: inline-block;
  line-height: 70px;
  height: 70px;
  margin-top: -100px;
}

.footer-logo .logo img {
  max-width: 300px;
}

.footer-logo span {
  font-weight: bold;
  font-size: 32px;
}

.footer-bottom {
  margin-top: 30px;
  padding-top: 12px;
  border-top: 1px solid #323335;
}

.footer-bottom .footer-support {
  display: flex;
}

.footer-bottom .footer-support span.support-title {
  position: absolute;
  margin-top: -48px;
  margin-left: -4px;
  font-size: 20px;
}

.footer-bottom .footer-support img {
  height: 36px;
}

.footer-nav {
  text-align: right;
}

.footer-nav li {
  display: inline-block;
  margin-right: 10px;
}


/*----------------------------*\
	CONTACT
\*----------------------------*/

.contact li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 55px;
  padding-top: 5px;
  min-height: 40px;
}

.contact li i {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  text-align: center;
  height: 40px;
  background: #fff;
  color: #6c9d61;
  border: 1px solid #e8eaed;
  line-height: 40px;
  border-radius: 50%;
}

.footer-widget .contact li i {
  color: #97989b;
  background-color: #353535;
  border: none;
}

.contact-widget {
  margin-top: -16px;
}

#btn-contact-send {
  cursor: pointer;
}

div.footer-widget p.mail-text {
  font-size: 16px;
  text-align: center;
}

div.footer-widget p.mail-text a {
  color: #FFaF !important;
}

ul.contact-social {
  text-align: center;
}

.contact-social li {
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 6px;
}

.contact-social li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff !important;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.contact-widget textarea {
  padding: 8px;
  height: 60px;
}

.contact-social li a:hover {
  opacity: 0.9;
}

.contact-widget .spinner-container {
  position: absolute;
  right: 20px;
  bottom: 12px;
}

.contact-sucess-message {
  color: #FFaF;
  border: 1px solid;
  text-align: center;
}


/* Mobile only */
@media only screen and (max-width: 575px) {
  footer#footer {
    padding-bottom: 20px;
    padding-top: 24px;
  }

  footer#footer div.footer-bottom {
    margin-top: 36px;
    padding-top: 16px;
  }

  .footer-logo {
    text-align: center;
  }
  .footer-logo .logo img {
    width: 240px;
  }

  .footer-widget {
    margin-top: 12px;
  }

  .footer-widget {
    margin-bottom: 8px;
  }

  .contact-social {
    border-bottom: 1px solid #323335;
    margin-bottom: 24px;
  }
}







/*=========================================================
NOT FOUND PAGE
===========================================================*/

div.notfound-page {
  margin-top: 80px;
}

div.notfound-page .notfound-image img {
  max-width: 100%;
  border-radius: 4px;
}

div.notfound-page .notfound-text {
  display: inline-block;
  color: rgba(0,0,0,0.7);
}

div.notfound-page .notfound-text h2, div.notfound-page .notfound-text p {
  color: rgba(0,0,0,0.7);
}

div.notfound-page .notfound-text p {
  font-size: 14px;
}