


/*===================================================================================

><<<<<<<<><<         ><<><<<<<<<<><<<     ><< ><<<><<<<<<     ><<<<<<<     ><<<<   
><<       ><<       ><< ><<      >< ><<   ><<     ><<         ><<    ><< ><    ><< 
><<        ><<     ><<  ><<      ><< ><<  ><<     ><<         ><<    ><<><<        
><<<<<<     ><<   ><<   ><<<<<<  ><<  ><< ><<     ><<         ><<<<<<<  ><<        
><<          ><< ><<    ><<      ><<   >< ><<     ><<         ><<       ><<   ><<<<
><<           ><<<<     ><<      ><<    >< <<     ><<         ><<        ><<    >< 
><<<<<<<<      ><<      ><<<<<<<<><<      ><<     ><<         ><<         ><<<<<   
                                                                               
=====================================================================================*/
/*
.page-header .event-org {
  margin-bottom: 10px;
}

.page-header .event-meta li {
  color: #fff;
}

.page-header .event-meta li a {
  color: #fff;
}

.page-header .event-meta li a:hover, .page-header .event-meta li a:focus {
  color: #6c9d61;
}

.event-share a {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  color: #fff;
  background-color: #97989b;
  margin-right: 4px;
  margin-bottom: 6px;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.event-share a:hover {
  opacity: 0.9;
}

.event-share a i {
  width: 20px;
  text-align: center;
}

.event-share a span {
  padding-left: 10px;
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-left: 10px;
}

.event-content .event-attachement.pull-left {
  margin-right: 15px;
}

.event-content .event-attachement.pull-right {
  margin-left: 15px;
}

.event-tags ul li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.event-tags ul li:first-child {
  font-weight: 400;
}

.event-tags ul li:after {
  content: ',';
  display: inline-block;
}

.event-tags ul li:first-child:after {
  display: none;
}

.event-tags ul li:last-child:after {
  display: none;
}

*/


