html {
  width: 100vw !important;
  background-color: #f7f7f7;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #505050;
  font-weight: 400;
  overflow-x: hidden;
  max-width: 100%;
  background-color: #f7f7f7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #11151c;
  font-weight: 700;
  margin: 0px 0px 15px;
}
h1 { font-size: 32.437px; }
h2 { font-size: 25.629px; }
h3 { font-size: 20.25px; }
h4 { font-size: 16px; }

p { margin: 0px 0px 20px; }

a {
  color: #11151c;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

a:hover, a:focus {
  color: #6c9d61;
  text-decoration: none;
  outline: none;
}

::-moz-selection {
  background-color: #6c9d61;
  color: #FFF;
}

::selection {
  background-color: #6c9d61;
  color: #FFF;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none
}

ul.list-style, ol.list-style {
  padding-left: 15px;
  margin-bottom: 10px;
}

ul.list-style {
  list-style-type: disc;
}

ol.list-style {
  list-style-type: decimal;
}

/*----------------------------*\
	main-container
\*----------------------------*/
.main-container {
  margin: 80px 80px 40px;
}


/*----------------------------*\
	input
\*----------------------------*/
.input {
  width: 100%;
  height: 40px;
  padding: 0px 15px;
  background-color: #fff;
  border-radius: 2px;
  border: 2px solid #e8eaed;
}

textarea.input {
  padding: 15px;
  height: 90px;
}

/*----------------------------*\
	button
\*----------------------------*/

.primary-button, .secondary-button {
  display: inline-block;
  padding: 10px 40px;
  border-radius: 2px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.primary-button {
  background-color: #6c9d61;
  color: #fff;
  -webkit-box-shadow: 0px 0px 0px 2px #6c9d61 inset;
  box-shadow: 0px 0px 0px 2px #6c9d61 inset;
}

.secondary-button {
  background-color: #353535;
  color: #fff;
  -webkit-box-shadow: 0px 0px 0px 2px #353535 inset;
  box-shadow: 0px 0px 0px 2px #353535 inset;
}

.primary-button:hover, .primary-button:focus {
  background-color: transparent;
  color: #6c9d61;
}

.secondary-button:hover, .secondary-button:focus {
  background-color: transparent;
  color: #353535;
}

@media only screen and (max-width: 719px) {
  .main-container {
    margin: 80px 40px 20px;
  }
}
























/*=========================================================

><<<     ><<      ><       ><<         ><<
>< ><<   ><<     >< <<      ><<       ><< 
><< ><<  ><<    ><  ><<      ><<     ><<  
><<  ><< ><<   ><<   ><<      ><<   ><<   
><<   >< ><<  ><<<<<< ><<      ><< ><<    
><<    >< << ><<       ><<      ><<<<     
><<      ><<><<         ><<      ><<      
                                          
===========================================================*/

nav {
  height: 64px;
}

.navbar.fixed-top {
  box-shadow: 0 1px 1px 1px lightgrey;
  background-color: #F7F7F7 !important;
  background-image: url('/img/bg-brilliant.png');  
  padding: 4px 16px;
}

#nav:after {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

#nav.shadow-active:after {
  opacity: 1;
  visibility: visible;
}

#nav-top {
  height: 72px;
}

#nav-bottom {
  border-top: 1px solid #e8eaed;
  background-color: rgba(144,202,131,0.1);
}

/*----------------------------*\
	social
\*----------------------------*/

.nav-social {
  float: left;
  padding: 10px 0px;
}

.nav-social li {
  display: inline-block;
}

.nav-social li a {
  display: block;
  padding: 15px;
  line-height: 20px;
}

/*----------------------------*\
	social colors
\*----------------------------*/

.social-facebook {
  background: #225b99 !important;
}

.social-twitter {
  background: #00adf2 !important;
}

.social-google-plus {
  background: #dc4d2d !important;
}

.social-pinterest {
  background: #cc2127 !important;
}

.social-instagram {
  background: #d341b2 !important;
}

/*----------------------------*\
	logo
\*----------------------------*/

.nav-logo {
  display: inline;
}

.nav-logo .logo {
  display: inline-block;
  /* line-height: 70px; */
  height: 56px;
}

.nav-logo .logo>img {
  height: 56px;
  /* margin-top: -4px; */
  /* margin-left: 12px; */
}

/*----------------------------*\
	menu
\*----------------------------*/

.nav-menu {
  position: relative;
  text-align: center;
  float: none;
}

.nav-menu>li {
  float: none;
  display: inline-block;
}

.nav-menu>li>a {
  display: block;
  padding: 25px 15px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

/*----------------------------*\
	dropdown
\*----------------------------*/

.nav-menu li.has-dropdown {
  position: relative;
}

.nav-menu li.has-dropdown>a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d7";
  margin-left: 5px;
}

.nav-menu li.has-dropdown>.dropdown {
  position: absolute;
  left: 0;
  width: 200px;
  text-align: left;
  z-index: 60;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.nav-menu li.has-dropdown:hover>.dropdown {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

.nav-menu li.has-dropdown>.dropdown .dropdown-body {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-top: 2px solid #6c9d61;
}

.dropdown .dropdown-list li {
  border-bottom: 1px solid #e8eaed;
}

.dropdown .dropdown-list li a {
  display: block;
  padding: 10px;
  line-height: 20px;
}

.dropdown .dropdown-heading {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 10px;
  line-height: 30px;
}

/*----------------------------*\
	mega dropdown
\*----------------------------*/

.nav-menu li.has-dropdown.megamenu {
  position: static;
}

.nav-menu li.has-dropdown.megamenu>.dropdown {
  width: 100%;
}

.nav-menu li.has-dropdown.megamenu>.dropdown .dropdown-body {
  padding: 30px;
}

.nav-menu li.has-dropdown.megamenu>.dropdown .dropdown-list {
  margin-bottom: 30px;
}

.nav-menu li.has-dropdown.megamenu>.dropdown .dropdown-list li a {
  padding-left: 0px;
  padding-right: 0px;
}

/*----------------------------*\
	tab dropdown
\*----------------------------*/

.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-content {
  z-index: 70;
  position: relative;
  margin-left: -30px;
}

.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-nav {
  background-color: #1b1c1e;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 60;
}

.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-nav li {
  border-bottom: 1px solid #323335;
}

.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-nav li a {
  display: block;
  padding: 15px;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-nav li.active {
  background: #6c9d61
}

.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-nav li.active a {
  color: #fff;
}

/*----------------------------*\
	nav aside
\*----------------------------*/

#nav-aside {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #1b1c1e;
  max-width: 360px;
  width: 100%;
  padding: 80px 20px;
  overflow-y: scroll;
  z-index: 99;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 0.4s all cubic-bezier(.77, 0, .18, 1);
  transition: 0.4s all cubic-bezier(.77, 0, .18, 1);
  overflow: auto;
}

#nav-aside.active {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.nav-aside-menu li a {
  display: block;
  padding: 15px 0px;
  color: #fff !important;
  border-bottom: 1px solid #323335;
}

.nav-aside-menu li a:hover, .nav-aside-menu li a:focus {
  color: #6c9d61;
}

.nav-aside-menu li.has-dropdown>a {
  cursor: pointer;
}

.nav-aside-menu li.has-dropdown>a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d7";
  float: right;
}

.nav-aside-menu li.has-dropdown>.dropdown {
  display: none;
  margin-left: 30px;
  border-left: 1px solid #323335;
}

.nav-aside-menu li.has-dropdown.active>.dropdown {
  display: block;
}

.nav-aside-menu li.has-dropdown>.dropdown a {
  padding: 15px;
}

.nav-close {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
}

.nav-close span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.nav-close span:before, .nav-close span:after {
  content: "";
  display: block;
  width: 30px;
  background-color: #fff;
  height: 2px;
}

.nav-close span:before {
  -webkit-transform: translateY(0px) rotate(-135deg);
  -ms-transform: translateY(0px) rotate(-135deg);
  transform: translateY(0px) rotate(-135deg);
}

.nav-close span:after {
  -webkit-transform: translateY(-2px) rotate(135deg);
  -ms-transform: translateY(-2px) rotate(135deg);
  transform: translateY(-2px) rotate(135deg);
}

@media only screen and (max-width: 719px) {
  .nav-logo {
    width: 100vw;
    position: absolute !important;
    text-align: center;
    left: 0 !important;
    top: 4px;
  }
}


















/*=========================================================

><<<<<<<< ><         >< ><<<<<<<< ><<<     ><< ><<<<<<<<<<
><<       ><<       ><< ><<       >< ><<   ><<     ><<    
><<        ><<     ><<  ><<       ><< ><<  ><<     ><<    
><<<<<<     ><<   ><<   ><<<<<<   ><<  ><< ><<     ><<    
><<          ><< ><<    ><<       ><<   >< ><<     ><<    
><<           ><<<<     ><<       ><<    >< <<     ><<    
><<<<<<<<      ><<      ><<<<<<<< ><<      ><<     ><<    
                                                         
===========================================================*/

.event-row > div.col-md-12 {
  padding: 0;
}

.event-row-title {
  position: relative;
  margin-bottom: 12px;
  margin-left: -15px;
  margin-right: -15px;
}

.event-row-title h2 {
  background-color: #f7f7f7;
  padding: 0 12px;
  position: relative;
  display: inline-block;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 20;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color:rgba(0, 60, 0, 0.5);
}

.event-row-title:after {
  content: "";
  display: inline-block;
  height: 2px;
  background-color: #e8eaed;
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
  z-index: 10;
}

.event {
  width: 240px;
  height: 280px; /* 320 */
  background-color: #fff;
  box-shadow: 0 1px 1px 1px lightgrey;
  cursor: pointer;
  border-radius: 4px;
}

.event:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #f3f3f3;
}

.event:hover .event-img {
  height: 207px;
}

.event:hover .event-body {
  height: 71px;
  padding: 4px 11px;
}

.event a.anchor-wrapper {
  position: absolute;
  height: 280px;
  width: 240px;
}

.event .event-img {
  display: block;
  height: 208px;
  overflow: hidden;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.event .event-img > img {
  width: 100%;
  -webkit-transition: 1.6s -webkit-transform;
  transition: 1.6s -webkit-transform;
  transition: 1.6s transform;
  transition: 1.6s transform, 1.6s -webkit-transform;
}


.event .event-body {
  position: relative;
  padding: 4px 12px;
  background: inherit;
  z-index: 10;
  height: 72px;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}


.event .event-body .event-org a {
  color: #6c9d61;
  font-weight: 900;
  font-size: 10px;
  text-transform: uppercase;
}
.event .event-body .event-org a:after {
  content: ',';
  display: inline-block;
}
.event .event-body .event-org a:last-child:after {
  display: none;
}






.event .event-body .event-title {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0;
  font-weight: 600;
}
.event .event-body .event-title a {
  color: rgba(0,0,0,0.7) !important;
}


.event .event-body .event-meta {
  margin-bottom: 0;
}
.event .event-body .event-meta li {
  display: inline-block;
  color: #97989b;
  font-size: 10px;
  text-transform: uppercase;
}
.event .event-body .event-meta li a {
  color: #97989b;
  font-weight: 400;
}
.event .event-body .event-meta li a:hover,
.event .event-body .event-meta li a:focus {
  color: #6c9d61;
}
.event .event-body .event-meta li:after {
  content: '|';
  display: inline-block;
  padding-left: 4px;
}
.event .event-body .event-meta li:last-child:after {
  display: none;
}


@media only screen and (max-width: 719px) {
  .event-row-title {
    text-align: center;
  }

  .event-row-title h2 {
    font-size: 16px;
  }

  .event-row-title:after {
    top: 11px;
  }

  .event-row-title:before {
    content: "";
    display: inline-block;
    height: 2px;
    background-color: #e8eaed;
    position: absolute;
    left: 0;
    right: 0;
    top: 11px;
    z-index: 10;
    margin-left: -15px;
    margin-right: -15px;
  }

  .event-row-list {
    display: flex;
    justify-content: center;
  }
}














/*===================================================================================

><<<<<<<<><<         ><<><<<<<<<<><<<     ><< ><<<><<<<<<     ><<<<<<<     ><<<<   
><<       ><<       ><< ><<      >< ><<   ><<     ><<         ><<    ><< ><    ><< 
><<        ><<     ><<  ><<      ><< ><<  ><<     ><<         ><<    ><<><<        
><<<<<<     ><<   ><<   ><<<<<<  ><<  ><< ><<     ><<         ><<<<<<<  ><<        
><<          ><< ><<    ><<      ><<   >< ><<     ><<         ><<       ><<   ><<<<
><<           ><<<<     ><<      ><<    >< <<     ><<         ><<        ><<    >< 
><<<<<<<<      ><<      ><<<<<<<<><<      ><<     ><<         ><<         ><<<<<   
                                                                               
=====================================================================================*/
/*
.page-header .event-org {
  margin-bottom: 10px;
}

.page-header .event-meta li {
  color: #fff;
}

.page-header .event-meta li a {
  color: #fff;
}

.page-header .event-meta li a:hover, .page-header .event-meta li a:focus {
  color: #6c9d61;
}

.event-share a {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  color: #fff;
  background-color: #97989b;
  margin-right: 4px;
  margin-bottom: 6px;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.event-share a:hover {
  opacity: 0.9;
}

.event-share a i {
  width: 20px;
  text-align: center;
}

.event-share a span {
  padding-left: 10px;
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-left: 10px;
}

.event-content .event-attachement.pull-left {
  margin-right: 15px;
}

.event-content .event-attachement.pull-right {
  margin-left: 15px;
}

.event-tags ul li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.event-tags ul li:first-child {
  font-weight: 400;
}

.event-tags ul li:after {
  content: ',';
  display: inline-block;
}

.event-tags ul li:first-child:after {
  display: none;
}

.event-tags ul li:last-child:after {
  display: none;
}

*/


















/*===================================================================================

	    ><           ><< <<    ><<  ><<<<<      ><<<<<<<<
     >< <<       ><<    ><<  ><<  ><<   ><<   ><<      
    ><  ><<       ><<        ><<  ><<    ><<  ><<      
   ><<   ><<        ><<      ><<  ><<    ><<  ><<<<<<  
  ><<<<<<><<<          ><<   ><<  ><<    ><<  ><<      
 ><<       ><<   ><<    ><<  ><<  ><<   ><<   ><<      
><<         ><<    ><< <<    ><<  ><<<<<      ><<<<<<<<
                                               
=====================================================================================*/

.aside-widget {
  margin-bottom: 30px;
}

/*----------------------------*\
	social widget
\*----------------------------*/

.social-widget ul {
  overflow: auto;
}

.social-widget ul li {
  float: left;
  width: 33.33%;
}

.social-widget ul li a {
  display: block;
  text-align: center;
  padding: 30px 15px;
  color: #fff;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.social-widget ul li a:hover {
  opacity: 0.9;
}

.social-widget ul li a span {
  font-weight: 700;
  font-size: 14px;
}

.social-widget ul li a i {
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
}

/*----------------------------*\
	newsletter widget
\*----------------------------*/

.newsletter-widget {
  position: relative;
  padding: 0px 30px 30px;
  border-left: 2px dashed #e8eaed;
  border-right: 2px dashed #e8eaed;
}

.aside-widget:last-child .newsletter-widget {
  border-bottom: 2px dashed #e8eaed;
}

.newsletter-widget form {
  position: relative;
  z-index: 20;
}

.newsletter-widget .input {
  margin-bottom: 15px;
}

.newsletter-widget:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f0e0";

  position: absolute;
  bottom: -25px;
  right: 27px;
  font-size: 160px;
  color: #e8eaed;
  -webkit-transform: rotate(13deg);
  -ms-transform: rotate(13deg);
  transform: rotate(13deg);
}

.footer-widget .newsletter-widget {
  padding: 0px;
  border: none;
}

.footer-widget .newsletter-widget:after {
  color: #323335;
}

/*----------------------------*\
	category widget
\*----------------------------*/

.category-widget ul li {
  padding: 15px 0px;
  border-bottom: 1px solid #e8eaed;
}

.category-widget ul li a {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
}

.category-widget ul li a span {
  float: right;
  font-size: 14px;
  color: #97989b;
  margin-left: 15px;
}

.footer-widget .category-widget ul li {
  border-color: #323335;
}

/*----------------------------*\
	tags widget
\*----------------------------*/

.tags-widget ul li {
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 6px;
}

.tags-widget ul li a {
  text-transform: uppercase;
  display: block;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: 700;
  color: #97989b;
  background-color: #323335;
  border-radius: 2px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.tags-widget ul li a:hover, .tags-widget ul li a:focus {
  color: #fff !important;
  background-color: #6c9d61;
}

/*----------------------------*\
	galery widget
\*----------------------------*/

.galery-widget ul {
  margin: -2px -2px;
}

.galery-widget ul li {
  display: inline-block;
  width: 33.33%;
  padding: 2px;
  margin-right: -4px;
}

.galery-widget ul li a {
  display: block;
  overflow: hidden;
}

.galery-widget ul li a img {
  width: 100%;
  -webkit-transition: 1.6s -webkit-transform;
  transition: 1.6s -webkit-transform;
  transition: 1.6s transform;
  transition: 1.6s transform, 1.6s -webkit-transform;
}

.galery-widget ul li a:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

























/*==========================================================================================

><<<<<<<<      ><<<<           ><<<<       ><<<<<<<<<<  ><<<<<<<<  ><<<<<<<<
><<          ><<    ><<      ><<    ><<        ><<      ><<        ><<    ><<  
><<        ><<        ><<  ><<        ><<      ><<      ><<        ><<    ><<
><<<<<<    ><<        ><<  ><<        ><<      ><<      ><<<<<<    ><<<<<<<      
><<        ><<        ><<  ><<        ><<      ><<      ><<        ><<  ><<    
><<          ><<     ><<     ><<     ><<       ><<      ><<        ><<    ><<  
><<            ><<<<<          ><<<<<          ><<      ><<<<<<<<  ><<      ><<
                                                
============================================================================================*/

#footer {
  padding-top: 64px;
  padding-bottom: 40px;
  background-color: #111 !important;
  background-image: url(/img/bg-brilliant.png);
}

#footer {
  color: #97989b;
}

#footer a {
  color: #97989b;
}

#footer a:hover, #footer a:focus {
  color: #6c9d61;
}

.footer-widget {
  margin-bottom: 30px;
}

.footer-widget .footer-title {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.footer-logo {
  margin-bottom: 24px;
}

.footer-logo .logo {
  display: inline-block;
  line-height: 70px;
  height: 70px;
  margin-top: -100px;
}

.footer-logo .logo img {
  max-width: 320px;
}

.footer-bottom {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #323335;
}

.footer-nav {
  text-align: right;
}

.footer-nav li {
  display: inline-block;
  margin-right: 10px;
}


/*----------------------------*\
	CONTACT
\*----------------------------*/

.contact li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 55px;
  padding-top: 5px;
  min-height: 40px;
}

.contact li i {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  text-align: center;
  height: 40px;
  background: #fff;
  color: #6c9d61;
  border: 1px solid #e8eaed;
  line-height: 40px;
  border-radius: 50%;
}

.footer-widget .contact li i {
  color: #97989b;
  background-color: #353535;
  border: none;
}

.contact-social li {
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 6px;
}

.contact-social li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  border-radius: 50%;
  color: #fff !important;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.contact-social li a:hover {
  opacity: 0.9;
}























/*===========================================================================================================

><<<<<<<    ><<<<<<<<  ><<<<<  ><<<<<<<      ><<<<     ><<<     ><<   ><<<<<  ><<><<         ><<><<<<<<<<
><<    ><<  ><<      ><<    ><<><<    ><<  ><<    ><<  >< ><<   ><< ><<    ><<><< ><<       ><< ><<      
><<    ><<  ><<       ><<      ><<    ><<><<        ><<><< ><<  ><<  ><<      ><<  ><<     ><<  ><<      
>< ><<<     ><<<<<<     ><<    ><<<<<<<  ><<        ><<><<  ><< ><<    ><<    ><<   ><<   ><<   ><<<<<<  
><<  ><<    ><<            ><< ><<       ><<        ><<><<   >< ><<       ><< ><<    ><< ><<    ><<      
><<    ><<  ><<      ><<    ><<><<         ><<     ><< ><<    ><<<< ><<    ><<><<     ><<<<     ><<      
><<      ><<><<<<<<<<  ><<<<<  ><<           ><<<<     ><<      ><<   ><<<<<  ><<      ><<      ><<<<<<<<
                                                                                                        
=============================================================================================================*/

@media only screen and (max-width: 991px) {
  #nav-bottom {
    display: none;
  }
  .nav-social {
    display: none;
  }
  .nav-logo {
    position: static;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    left: 0;
    display: inline-block;
    /* float: left; */
  }
  .footer-nav {
    text-align: left;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {

}
