h2 {
    color: rgba(0,0,0,0.5);
    margin-bottom: 16px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

.form-container > * {
    width: 80%;
}

.form-container form {
    margin-bottom: 20px;
}

.form-container form > * {
    margin: 5px 0;
}

.form-container .mat-radio-button {
    margin: 0 5px;
}

button {
    margin-top: 16px;
    &.last {
        margin-bottom: 36px;
    }
}

h3 {
    margin-top: 12px;
    color: rgba(0,0,0,0.75);
}
