<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="pt">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <header id="header"><% include ../partials/header %></header>

        <div class="main-container text-center">
          <br>
          <h2 class="my-5 mx-2" style="color: rgba(0,0,0,0.7)">Eita, não encontramos essa página.</h2>
          <button type="button" class="btn btn-outline-success my-5">Voltar para página inicial</button>
        </div>

        <footer id="footer"><% include ../partials/footer %></footer>
    </body>
</html>