<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="pt">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <header id="header"><% include ../partials/header %></header>

        <div class="main-container text-center notfound-page row">

            <div class="notfound-image col-6 col-xs-12">
                <img src="/img/not-found.webp" alt="Página não encontrada">
            </div>

            <div class="notfound-text col-6 col-xs-12 text-left">
              <h2 class="mt-2">Eita...</h2>
              <p>Não encontramos essa página.</p>
              <button type="button" class="btn btn-success btn-sm my-2" onclick="location.href='/'">Voltar para página inicial</button>
            </div>
          
        </div>

        <footer id="footer"><% include ../partials/footer %></footer>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5d22338222d70e36c2a49237/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    </body>
</html>