<!-- cities widget -->
<!-- <div class="aside-widget">
    <div class="section-title">
        <h2 class="title">Cidades</h2>
    </div>
    <div class="category-widget">
        <ul>
            <li><a href="#"><i class="far fa-check-square"></i> Arraial D'Ajuda <span>451</span></a></li>
            <li><a href="#"><i class="far fa-check-square"></i> Porto Seguro <span>230</span></a></li>
            <li><a href="#"><i class="far fa-square"></i> Trancoso <span>38</span></a></li>
            <li><a href="#"><i class="far fa-check-square"></i> Caraíva <span>24</span></a></li>
            <li><a href="#"><i class="far fa-square"></i> Santa Cruz Cabrália <span>4</span></a></li>
            <li><a href="#"><i class="far fa-check-square"></i> Prado / Cumuruxatiba / Ponta do Corumbau <span>451</span></a></li>
            <li><a href="#"><i class="far fa-check-square"></i>Belmonte / Mogiquiçaba<span>451</span></a></li>
            <li><a href="#"><i class="far fa-check-square"></i>Santo André / Santo Antônio<span>451</span></a></li>
        </ul>
    </div>
    
    <button class="primary-button d-block mx-auto mt-3">Filtrar</button>
</div> -->
<!-- /cities widget -->
    
<!-- ad widget-->
<!-- <div class="aside-widget text-center">
    <a href="#" style="display: inline-block;margin: auto;">
        <img class="img-responsive" src="./img/ad-3.jpg" alt="">
    </a>
</div> -->
<!-- /ad widget -->

<!-- social widget -->
<!-- <div class="aside-widget">
    <div class="section-title">
        <h2 class="title">Mídias Sociais</h2>
    </div>
    <div class="social-widget">
        <ul>
            <li>
                <a href="#" class="social-facebook">
                    <i class="fab fa-facebook"></i>
                    <span>21.2K<br>Seguidores</span>
                </a>
            </li>
            <li>
                <a href="#" class="social-twitter">
                    <i class="fab fa-twitter"></i>
                    <span>10.2K<br>Seguidores</span>
                </a>
            </li>
            <li>
                <a href="#" class="social-google-plus">
                    <i class="fab fa-google-plus"></i>
                    <span>5K<br>Seguidores</span>
                </a>
            </li>
        </ul>
    </div>
</div> -->
<!-- /social widget -->

<!-- newsletter widget -->
<!-- <div class="aside-widget">
    <div class="section-title">
        <h2 class="title">não quero ficar de fora</h2>
    </div>
    <div class="newsletter-widget">
        <form>
            <p>Receba em primeira mão notícias, promoções e posts quentes.</p>
            <input class="input" name="newsletter" placeholder="Digite seu email">
            <button class="primary-button">Inscrever</button>
        </form>
    </div>
</div> -->
<!-- /newsletter widget -->

<!-- galery widget -->
<!-- <div class="aside-widget">
    <div class="section-title">
        <h2 class="title">Instagram</h2>
    </div>
    <div class="galery-widget">
        <ul>
            <li><a href="#"><img src="./img/galery-1.jpg" alt=""></a></li>
            <li><a href="#"><img src="./img/galery-2.jpg" alt=""></a></li>
            <li><a href="#"><img src="./img/galery-3.jpg" alt=""></a></li>
            <li><a href="#"><img src="./img/galery-4.jpg" alt=""></a></li>
            <li><a href="#"><img src="./img/galery-5.jpg" alt=""></a></li>
            <li><a href="#"><img src="./img/galery-6.jpg" alt=""></a></li>
        </ul>
    </div>
</div> -->
<!-- /galery widget -->

<!-- Ad widget -->
<!-- <div class="aside-widget text-center">
    <a href="#" style="display: inline-block;margin: auto;">
        <img class="img-responsive" src="./img/ad-1.jpg" alt="">
    </a>
</div> -->
<!-- /Ad widget -->

<!-- post widget -->
<!-- <div class="aside-widget">
    <div class="section-title">
        <h2 class="title">Popular Posts</h2>
    </div> -->
    <!-- post -->
    <!-- <div class="post post-widget">
        <a class="post-img" href="blog-post.html"><img src="./img/widget-3.jpg" alt=""></a>
        <div class="post-body">
            <div class="post-category">
                <a href="category.html">Lifestyle</a>
            </div>
            <h3 class="post-title"><a href="blog-post.html">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>
        </div>
    </div> -->
    <!-- /post -->
<!-- </div> -->
<!-- /post widget -->