<form class="form-container" [formGroup]="fg"> 
  
  <h2>Cadastrar Organização</h2>
  
  <!-- CODE -->
  <mat-form-field>
    <input #firstInput matInput formControlName="code" placeholder="Código" required>
  </mat-form-field>

  <!-- NAME -->
  <mat-form-field>
    <input matInput formControlName="name" placeholder="Nome" required>
  </mat-form-field>

  <!-- EMAIL -->
  <mat-form-field>
    <input matInput formControlName="email" placeholder="Email">
  </mat-form-field>

  <!-- MOBILE -->
  <mat-form-field>
    <input matInput formControlName="mobile" placeholder="Celular">
  </mat-form-field>

  <!-- LAND -->
  <mat-form-field>
    <input matInput formControlName="land" placeholder="Fixo">
  </mat-form-field>

  <!-- NOTES -->
  <mat-form-field>
    <input matInput formControlName="notes" placeholder="Notas">
  </mat-form-field>

  <!-- STATUS -->
  <mat-checkbox formControlName="status">Ativo</mat-checkbox>


  <!-- 
    ###################### ADDRESS ########################
   -->
  <!-- CITY -->
  <h3>Endereço</h3>
  <mat-form-field>
    <mat-select required formControlName="city">
      <mat-option *ngFor="let city of cities" [value]="city.name">{{city.name}}</mat-option>
    </mat-select>
    <mat-label>Cidade</mat-label>
  </mat-form-field>

  <!-- NEIGHBORHOOD -->
  <mat-form-field>
    <input matInput formControlName="neighborhood" placeholder="Bairro">
  </mat-form-field>

  <!-- NUMBER -->
  <mat-form-field>
    <input matInput formControlName="number" placeholder="Número">
  </mat-form-field>

  <!-- COMPLEMENT -->
  <mat-form-field>
    <input matInput formControlName="complement" placeholder="Complemento">
  </mat-form-field>

  <!-- ZIP_CODE -->
  <mat-form-field>
    <input matInput formControlName="zip_code" placeholder="Código Postal">
  </mat-form-field>
  
  <!-- 
    ###################### CONTACT ########################
   -->
  <h3>Contato</h3>
  <!-- CONTACT_NAME -->
  <mat-form-field>
    <input matInput formControlName="contact_name" placeholder="Nome">
  </mat-form-field>

  <!-- CONTACT_EMAIL -->
  <mat-form-field>
    <input matInput formControlName="contact_email" placeholder="Email">
  </mat-form-field>

  <!-- CONTACT_MOBILE -->
  <mat-form-field>
    <input matInput formControlName="contact_mobile" placeholder="Celular">
  </mat-form-field>

  <!-- CONTACT_ROLE -->
  <mat-form-field>
    <input matInput formControlName="contact_role" placeholder="Papel">
  </mat-form-field>

  <!-- CONTACT_NOTES -->
  <mat-form-field>
    <input matInput formControlName="contact_notes" placeholder="Notas">
  </mat-form-field>

  <button mat-raised-button color="accent" [disabled]="!fg.valid" (click)="save()">Salvar</button>
</form>
