<!-- views/pages/events/events.ejs -->
<!DOCTYPE html>
<html lang="pt">
    <head>
        <% include ../../partials/head %>
        <link rel="stylesheet" href="/css/pg-event.css">
    </head>
    <body>
        <header id="header"><% include ../../partials/header %></header>

        <div class="main-container">
            <div class="row">
                <!-- EVENTS -->
                <div class="col-md-12">
                    <!-- PARTIAL_EVENTS -->
                </div>

                <!-- ASIDE -->
                <!-- <div class="col-md-4"> -->
                    <!-- PARTIAL_SIDE -->
                <!-- </div> -->
            </div>
        </div>

        <footer id="footer"><% include ../../partials/footer %></footer>
    </body>
</html>