<!-- views/partials/footer.ejs -->
<!-- <p class="text-center text-muted">© Copyright 2014 The Awesome Peop -->

<!-- container -->
<div class="container">
    <!-- row -->
    <div class="row">
        <!-- <div class="col-md-3">
            <div class="footer-widget">
                <h3 class="footer-title">Categories</h3>
                <div class="category-widget">
                    <ul>
                        <li><a href="#">Lifestyle <span>451</span></a></li>
                        <li><a href="#">Fashion <span>230</span></a></li>
                        <li><a href="#">Technology <span>40</span></a></li>
                        <li><a href="#">Travel <span>38</span></a></li>
                        <li><a href="#">Health <span>24</span></a></li>
                    </ul>
                </div>
            </div>
        </div> -->

        <div class="col-md-6">
            <div class="footer-widget">
                <div class="footer-logo">
                    <a href="/" class="logo"><img src="./img/sulbaguia-logo-h-t.png" alt=""></a>
                </div>
                <p>Temos como missão entregar de forma imparcial o conteúdo mais atualizado e completo sobre eventos, programas e serviços do sul e extremo sul da Bahia.</p>
                <p>contato@sulbaguia.com.br</p>
                <!-- <ul class="contact-social">
                    <li><a href="#" class="social-facebook"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#" class="social-twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="social-google-plus"><i class="fab fa-google-plus"></i></a></li>
                    <li><a href="#" class="social-instagram"><i class="fab fa-instagram"></i></a></li>
                </ul> -->
            </div>
        </div>

        <div class="col-md-1">
            <!-- <div class="footer-widget">
                <h3 class="footer-title">Fale conosco</h3>
                <div class="newsletter-widget">
                    <form>
                        <p>Dúvida, sugestão ou parceira? </p>
                        <div class="row">
                            <div class="col-md-6 pr-0">
                                <input class="input" name="email" placeholder="Email">
                            </div>
                            <div class="col-md-6">
                                <input class="input" name="phone" placeholder="Telefone">
                            </div>
                        </div>
                        <input class="input" name="message" placeholder="Mensagem">
                        <button class="primary-button">Enviar</button>
                    </form>
                </div>
            </div> -->
        </div>
        
        <div class="col-md-5">
            <!-- <div class="footer-widget">
                <h3 class="footer-title">Lista de emails</h3>
                <div class="newsletter-widget">
                    <form>
                        <p>Receba em primeira mão dicas, ofertas e anúncios.</p>
                        <div class="row">
                            <div class="col-md-8 pr-0">
                                <input class="input" name="newsletter" placeholder="Digite seu email">
                            </div>
                            <div class="col-md-4">
                                <button class="primary-button">Inscrever</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="mt-4"></div>

                <h3 class="footer-title">Fale conosco</h3>
                <div class="newsletter-widget">
                    <form>
                        <p>Dúvida, sugestão ou parceira? </p>
                        <div class="row">
                            <div class="col-md-6 pr-0">
                                <input class="input" name="email" placeholder="Email">
                            </div>
                            <div class="col-md-6">
                                <input class="input" name="phone" placeholder="Telefone">
                            </div>
                        </div>
                        <input class="input" name="message" placeholder="Mensagem">
                        <button class="primary-button d-block mx-auto">Enviar</button>
                    </form>
                </div>
            </div> -->
        </div>

        <!-- <div class="col-md-4">
            <div class="footer-widget">
                <h3 class="footer-title">Tags</h3>
                <div class="tags-widget">
                    <ul>
                        <li><a href="#">Axé</a></li>
                        <li><a href="#">Sertanejo</a></li>
                        <li><a href="#">Forró</a></li>
                        <li><a href="#">Música ao Vivo</a></li>
                        <li><a href="#">Samba</a></li>
                        <li><a href="#">Pagode</a></li>
                        <li><a href="#">Funk</a></li>
                        <li><a href="#">MPB</a></li>
                        <li><a href="#">Música Eletrônica</a></li>
                        <li><a href="#">Jazz</a></li>
                        <li><a href="#">Blues</a></li>
                        <li><a href="#">Pop Rock Nacional</a></li>
                    </ul>
                </div>
            </div>
        </div> -->

    </div>
    <!-- /row -->

    <!-- row -->
    <div class="footer-bottom row">
        <div class="col-md-6 col-md-push-6">
            <!-- <ul class="footer-nav"> -->
                <!-- <li><a href="/">Início</a></li> -->
                <!-- <li><a href="#" onclick="return false;">Serviços</a></li>
                <li><a href="#" onclick="return false;">Promoções</a></li>
                <li><a href="#" onclick="return false;">Blog</a></li> -->
            <!-- </ul> -->
        </div>
        <div class="col-md-6 col-md-pull-6">
            <div class="footer-copyright">
                Copyright &copy; <%= moment().format('YYYY') %> Todos os direitos reservados
            </div>
        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->