<!-- 
<nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="#">Fixed top</a>
</nav> -->
<!-- views/partials/header.ejs -->
<!-- NAV -->
<div id="nav">
    <!-- Top Nav -->
    <nav class="navbar fixed-top navbar-light bg-light nav-top">
        <div class="nav-container">
            <!-- social -->
            <!-- <ul class="nav-social">
                <li><a href="#" onclick="return false;"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" onclick="return false;"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" onclick="return false;"><i class="fab fa-google-plus-g"></i></a></li>
                <li><a href="#" onclick="return false;"><i class="fab fa-instagram"></i></a></li>
            </ul> -->
            <!-- /social -->

            <!-- logo -->
            <div class="nav-logo">
                <a href="/" class="logo"><img src="./img/sulbaguia-logo-h-t.png" alt=""></a>
            </div>
            <!-- /logo -->

            <!-- search & aside toggle -->
            <div class="nav-btns">
                <!-- <button class="aside-btn"><i class="fas fa-bars"></i></button> -->
                <!-- <button class="search-btn"><i class="fa fa-search"></i></button>
                <div id="nav-search">
                    <form>
                        <input class="input" name="search" placeholder="Enter your search...">
                    </form>
                    <button class="nav-close search-close">
                        <span></span>
                    </button>
                </div> -->
            </div>
            <!-- /search & aside toggle -->
        </div>
    </nav>
    <!-- /Top Nav -->

    <!-- Main Nav -->
    <!-- <div id="nav-bottom">
        <div class="container">
            <ul class="nav-menu">
                <li class="has-dropdown">
                    <a href="/">Início</a>
                    <div class="dropdown">
                        <div class="dropdown-body">
                            <ul class="dropdown-list">
                                <li><a href="/">Página inicial</a></li>
                                <li><a href="sobre.html">Sobre nós</a></li>
                                <li><a href="author.html">Anuncie aqui</a></li>
                                <li><a href="contato.html">Fale conosco</a></li>
                                <li><a href="blank.html">Regular</a></li>
                                <li><a href="blog-post.html">Post</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="#" onclick="return false;">Serviços</a></li>
                <li><a href="#" onclick="return false;">Promoções</a></li>
                <li><a href="#" onclick="return false;">Blog</a></li>
            </ul>
        </div>
    </div> -->
    <!-- /Main Nav -->

    <!-- Aside Nav -->
    <div id="nav-aside">
        <ul class="nav-aside-menu">
            <li class="has-dropdown"><a>Início</a>
                <ul class="dropdown">
                    <li><a href="/">Página Inicial</a></li>
                    <li><a href="#" onclick="return false;">Sobre nós</a></li>
                    <li><a href="#" onclick="return false;">Anuncie aqui</a></li>
                    <li><a href="#" onclick="return false;">Fale consosco</a></li>
                </ul>
            </li>
            <!-- <li><a href="#">Eventos</a></li> -->
            <li class="has-dropdown"><a>Eventos</a>
                <ul class="dropdown">
                    <li><a href="#" onclick="return false;">Forró</a></li>
                    <li><a href="#" onclick="return false;">Pagode</a></li>
                    <li><a href="#" onclick="return false;">Sertanejo</a></li>
                    <li><a href="#" onclick="return false;">Eletrônica</a></li>
                    <li><a href="#" onclick="return false;">Música ao vivo</a></li>
                </ul>
            </li>
            <li><a href="#" onclick="return false;">Serviços</a></li>
            <li><a href="#" onclick="return false;">Promoções</a></li>
            <li><a href="#" onclick="return false;">Blog</a></li>
            <!-- <li><a href="#" onclick="return false;">Advertise</a></li> -->
        </ul>
        <button class="nav-close nav-aside-close"><span></span></button>
    </div>
    <!-- /Aside Nav -->
</div>
<!-- /NAV -->