<form class="form-container" [formGroup]="fg"> 
  <!-- TITLE -->
  <mat-form-field>
    <input matInput formControlName="title" placeholder="Título" required>
  </mat-form-field>

  <!-- ORG_CODE -->
  <mat-form-field>
    <mat-select required formControlName="org_code">
      <mat-option *ngFor="let org of orgs" [value]="org.code">{{org.name}}</mat-option>
    </mat-select>
    <mat-label>Organização</mat-label>
  </mat-form-field>
  
  <!-- IMG -->
  <mat-form-field>
    <input matInput formControlName="img" placeholder="Imagem" required>
  </mat-form-field>

  <!-- START -->
  <div class="start">
    <!-- TODO: Disable input -->
    <mat-form-field class="date">
      <input matInput formControlName="start" [matDatepicker]="startPicker" placeholder="Data">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="time">
      <mat-select required formControlName="startTime">
        <mat-option *ngFor="let t of timeOptions" [value]="t">{{t}}h</mat-option>
      </mat-select>
      <mat-label>Horário</mat-label>
    </mat-form-field>
  </div>

  <!-- END -->
  <!-- <mat-form-field>
    <input matInput formControlName="end" [matDatepicker]="endPicker" placeholder="Término">
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </mat-form-field> -->

  <mat-checkbox formControlName="featured">Destaque</mat-checkbox>

  <button mat-raised-button color="primary" (click)="cancel()">Cancelar</button>
  <button mat-raised-button color="accent" [disabled]="!fg.valid" (click)="update()">Atualizar</button>

</form>
  